#gamingBG {
    -fx-background-image: url("waitingBG.png");
    -fx-background-size: cover;
}
#drawingCanvas {
    -fx-background-color: white;
}
#clearButton {
    -fx-background-image: url("trashcan.png");
}
#meChoosingBG {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}
#otherChoosingBG {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}